.skills__container {
    grid-template-columns: repeat(2, 500px);
    column-gap: 2rem;
    justify-content: center;
}

.section__subtitle {
    margin-bottom: 1rem;
}

.section__subsubtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 1rem;
}

.fa-diamond {
    padding: 1rem;
}

.skills__content {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4%;
    border-radius: 1.25rem;
}

.skills__img {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    width: 25px;
    height: 25px;
    border-radius: 0.25rem;
    justify-self: center;
}

.skills__title {
    font-size: 18px;
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}

.skills__group {
    display: grid;
    align-items: flex-start;
    row-gap: 1.25rem;
}

.skills__data {
    display: flex;
    column-gap: 0.5rem;
    width: 185px;
}

.skills .bx-badge-check {
    font-size: 1rem;
    color: var(--title-color);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level {
    font-size: var(--tiny-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .skills__container {
        grid-template-columns: repeat(1, 475px);
        row-gap: 2rem;
        justify-content: center;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {
    .skills__container {
        grid-template-columns: 0.5fr;
        row-gap: 1rem;
        justify-content: center;
    }

    .skills__box {
        display: flex;
        justify-content: center;
        column-gap: 0.8rem;
    }

    .skills__content {
        padding: 0.75rem;
    }
  }
  
  /* For small devices */
  @media screen and (max-width: 350px) {
    .skills__container {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .skills__box {
        display: flex;
        justify-content: center;
        column-gap: 0.1rem;
    }

    .skills__content {
        padding: 1rem;
    }

    .skills__name {
        font-size: var(--small-font-size);
    }
  }
  
