.about__container {
    grid-template-columns: 1fr;
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
    filter: grayscale(65%);
}

.about__info {
    grid-template-columns: repeat(2, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
    justify-content: center;
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
}

.about__description {
    padding: 0 2rem 0 2rem;
    margin-bottom: var(--mb-2-5);
}

.about__button {
    text-align: center;
}


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .section__subtitle {
        margin-bottom: 2rem;
    }

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }

    .about__img {
        width: 170px;
    }

    .about__box {
        padding: 0.35rem 0.35rem;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 3rem;
        margin-bottom: 1rem;
        font-size: 14px;
    }
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .about__description {
        padding: 0;
        font-size: 13px;
    }
  }
  @media screen and (max-width: 576px) {
    .about__description {
        padding: 0;
        font-size: 12px;
    }
  }
  